
/* 1. TODOS OS @import URL primeiro */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* 2. DIRETIVAS DO TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. COMENTÁRIOS E REGRAS PERSONALIZADAS */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: inherit;
  line-height: 1;
}